@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --blue: #2aefe7;
    --gray: #333;
    --light-gray: #393939;
    --blue-white: #e8efef;
}

/* ————    General styles    ———— */

body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

p {
    font-size: 14px;
    color: #666;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 15px;
    color: var(--blue);
}


/* ————    Video styles    ———— */

/* Video container */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Video itself */
#welcome-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ————    <a> Button styles    ———— */

.buttons-container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.btn {
    display: inline-block; /* Ensure the <a> behaves like a block for width and padding */
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 150px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 0 0 transparent;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    border: solid 1px var(--blue);
    box-shadow: 0 0 5px #2aefe7aa, 0 0 20px var(--blue);
    transform: scale(1.05);
}


/* ————    Form styles    ———— */

.form-container {
    display: flex;
    height: auto;
    aspect-ratio: 1 / 1;
    align-content: space-between;
    flex-direction: column;
    background-color: var(--light-gray);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 15px;
}

input {
    background-color: var(--blue-white);
    width: 300px;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 1px 2px -1px var(--light-gray);
    transition: all 0.2s ease-in-out;
}

input:focus {
    border: solid 1px var(--blue);
    outline: none;
    box-shadow: 0 0 10px var(--blue);
}

.submit-btn {
    box-sizing: content-box; /* apply box-sizing so btn have the same width as input */
    background-color: var(--blue-white);
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 1px 2px -1px var(--light-gray);
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    border: solid 1px var(--blue);
    box-shadow: 0 0 15px var(--blue);
    transform: scale(1.05);
}


/* ————    Simple <a> link style    ———— */

a.link {
    color: var(--blue);
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}


/* ————    Selector style    ———— */

select {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--blue-white);
    box-shadow: 0 1px 2px -1px var(--light-gray);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 150ms ease;
}

select:required:invalid {
    color: #5a667f;
}

select option {
    color: var(--light-gray);
}

select:focus {
    outline: none;
    border-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
}


/* ————    Currency selection styles    ———— */

.balance-field {
    padding: 5px 25px;
    background-color: var(--blue-white);
    font-size: 24px;
    border-radius: 8px;
}

.currency-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 10px;
}
