<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ThyBal |  Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- link css -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />

    <!-- link favicon -->
    <link rel="icon" type="image/png" th:href="@{/assets/favicon.png}"/>

</head>
<body>

<div class="account-page">
    <!-- account selector -->
    <div class="form-container">
        <h2>Select Account</h2>
        <form class="select-form" th:action="@{/account}" method="get">
            <select id="accountId" name="accountId">
                <!-- Dynamically populate the dropdown with accounts -->
                <option th:each="acc : ${accounts}" th:value="${acc.id}" th:text="'Account ID: ' + ${acc.id} + ' - ' + ${acc.currency}"></option>
            </select>
            <button class="submit-btn select-btn" type="submit">View</button>
        </form>
    </div>


    <!-- account information -->
    <div class="form-container">
        <h2>Account Details</h2>
        <p class="info"><strong>Account ID:</strong> <span class="info" th:text="${account.id}"></span></p>
        <p class="info"><strong>Balance:</strong> <span class="info" th:text="${account.balance}"></span></p>
        <p class="info"><strong>Currency:</strong> <span class="info" th:text="${account.currency}"></span></p>
    </div>

    <!-- form to deposit money -->
    <div class="form-container">
        <h2>Deposit Money</h2>
        <form th:action="@{/account/deposit}" method="post">
            <!-- use this hidden field to send current account ID -->
            <input type="hidden" name="accountId" th:value="${account.id}">
            <input type="number" id="depositAmount" name="amount" placeholder="Enter deposit amount" required>
            <br>
            <button type="submit" class="submit-btn">Deposit</button>
        </form>
    </div>


    <!-- form to transfer money -->
    <div class="form-container">
        <h2>Transfer Money</h2>
        <form th:action="@{/accounts/transfer}" method="post">
            <input type="hidden" name="fromAccountId" th:value="${account.id}">
            <input type="number" id="toAccountId" name="toAccountId" placeholder="Recipient Account ID" required>
            <br>
            <input type="number" id="transferAmount" name="amount" placeholder="Enter transfer amount" required>
            <br>
            <button type="submit" class="submit-btn">Transfer</button>
        </form>
        <!-- success or error messages -->
        <div th:if="${message}" th:text="${message}" class="error-message"></div>
    </div>
</div>

<!-- account control buttons -->
<div class="buttons-container">
    <p><a class="a-btn" th:href="@{/accounts/create}">New Account</a></p>

    <p><a class="a-btn" th:href="@{/logout}">Logout</a></p>

    <form th:action="@{/accounts/delete}" method="post">
        <input type="hidden" name="accountId" th:value="${account.id}">
        <button type="submit" class="submit-btn danger" >Delete Account</button>
    </form>
</div>

</body>
</html>
