<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ThyBal |  Create account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <!-- link css -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />

    <!-- link favicon -->
    <link rel="icon" type="image/png" th:href="@{/assets/favicon.png}"/>

</head>
<body>
<div class="form-container">
<h1>Create Account</h1>
<form th:action="@{/accounts/create}" method="post">
    <div class="currency-container">
        <h5 th:text="${defaultBalance}" class="balance-field"></h5>
        <select id="currency" name="currency" required>
            <option value="UAH" selected="selected">₴ UAH</option>
            <option value="EUR">€ EUR</option>
            <option value="USD">$ USD</option>
            <option value="YEN">¥ YEN</option>
        </select>
    </div>
    <button type="submit" class="submit-btn">Create Account</button>
</form>
<p><a class="link" th:href="@{/account}">Back to Account</a></p>
</div>

</body>
</html>
