<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ThyBal |  Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- link css -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />

    <!-- link favicon -->
    <link rel="icon" type="image/png" th:href="@{/assets/favicon.png}"/>

</head>
<body class="no-scroll">

<!-- background video -->
<div class="video-container">
    <video autoplay muted loop id="welcome-video">
        <source th:src="@{/assets/matrix_bg_full-size.mp4}" type="video/mp4">
    </video>
</div>

<!-- buttons -->
<div class="center-buttons-container">
    <a th:href="@{/login}" class="a-btn-mid">Login</a>
    <a th:href="@{/register}" class="a-btn-mid">Register</a>
</div>

</body>
</html>
